[build-system]
requires = ["flit_core >=3.2,<4"]
build-backend = "flit_core.buildapi"

[project]
name = "lndb"
authors = [{name = "Lamin Labs", email = "laminlabs@gmail.com"}]
readme = "README.md"
dynamic = ["version", "description"]
dependencies = [
    "lnhub_rest==0.7.2",
    # no other packages should be pinned
    "laminci>=0.3.0",  # disentangle over time
    "lnschema_core>=0.28.0",
    "lamin_logger>=0.2.3",
    "sqlmodel>=0.0.8",
    "appdirs",
    "supabase",
    "python-dotenv",
    "erdiagram",
    "alembic<1.10.0",  # test whether this broke CI
    "psycopg2-binary",
    "pyjwt",
    "natsort",
    "pandas",
    "pytest_alembic==0.9.1",  # let's pin this as we use internals
    "boto3==1.24.59", # for aiobotocore inside s3fs, to fix deps resolution
    "botocore==1.27.59", # for aiobotocore inside s3fs, to fix deps resolution
    "fsspec==2023.1.0",
    "s3fs==2023.1.0",
    "gcsfs==2023.1.0",
    "universal_pathlib",
    "cloudpathlib",
    "python-dateutil",
]

[project.urls]
Home = "https://github.com/laminlabs/lndb"

[project.optional-dependencies]
dev = [
    "pre-commit",
    "nox",
]
test = [
    "lamindb[bionty,wetlab]>=0.34.2",
    "pytest>=6.0",
    "pytest-cov",
    "nbproject-test>=0.4.3",
]

[project.scripts]
lndb = "lndb.__main__:main"

[tool.black]
preview = true

[tool.pytest.ini_options]
testpaths = [
    "tests",
]

[tool.coverage.run]
omit = [
    "lndb/*",
]
