[build-system]
requires = ["flit_core >=3.2,<4"]
build-backend = "flit_core.buildapi"

[project]
name = "lamindb_setup"
authors = [{name = "Lamin Labs", email = "laminlabs@gmail.com"}]
readme = "README.md"
dynamic = ["version", "description"]
dependencies = [
    "lnschema_core>=0.35.4",
    "lamin_logger>=0.3.3",
    # External dependencies
    "django",
    "dj_database_url",
    "pydantic[dotenv]",
    "sqlalchemy<2.0.0",  # just temporarily
    "appdirs",
    "python-dateutil",
    "universal_pathlib",
    "botocore",
    "supabase==1.0.3",
    "pyjwt",
]

[project.urls]
Home = "https://github.com/laminlabs/lamindb-setup"

[project.optional-dependencies]
aws = [
    "s3fs",
]
dev = [
    "psycopg2-binary",
    "python-dotenv",
    "erdiagram",
    "pre-commit",
    "nox",
    "pytest>=6.0",
    "pytest-cov",
    "pytest-xdist",
    "nbproject-test>=0.4.3",
    "faker",
    "moto[s3]",
]

[project.scripts]
lamin = "lamindb_setup.__main__:main"

[tool.black]
preview = true

[tool.pytest.ini_options]
testpaths = [
    "tests",
]

[tool.coverage.run]
omit = [
    "lamindb_setup/*",
]
