[build-system]
requires = ["flit_core >=3.2,<4"]
build-backend = "flit_core.buildapi"

[project]
name = "lndb"
authors = [{name = "Lamin Labs", email = "laminlabs@gmail.com"}]
readme = "README.md"
dynamic = ["version", "description"]
dependencies = [
    # only this can be pinned
    "lnhub_rest==0.3.2",
    # no other packages should be pinned
    "lnschema_core>=0.24.1",
    "lamin_logger>=0.2.3",
    "cloudpathlib",
    "sqlmodel>=0.0.8",
    "appdirs",
    "supabase",
    "python-dotenv",
    "erdiagram",
    "alembic",
    "psycopg2-binary",
    "pyjwt",
    "natsort",
    "pandas",
    "pytest_alembic==0.9.1",  # let's pin this as we use internals
    "boto3==1.24.59", # for aiobotocore inside s3fs, to fix deps resolution
    "botocore==1.27.59", # for aiobotocore inside s3fs, to fix deps resolution
    "fsspec==2023.1.0",
    "s3fs==2023.1.0",
    "gcsfs==2023.1.0",
    "python-dateutil",
]

[project.urls]
Home = "https://github.com/laminlabs/lndb"

[project.optional-dependencies]
dev = [
    "pre-commit",
    "nox",
]
test = [
    "pytest>=6.0",
    "pytest-cov",
    "bionty>=0.5.6",
    "lnschema_bionty>=0.6.2",
    "lnschema_wetlab>=0.11.5",
    "lnbfx>=0.7.1",
    "cloudpathlib[gs]",
    "nbproject_test>=0.4.0",
]

[project.scripts]
lndb = "lndb.__main__:main"

[tool.black]
preview = true

[tool.pytest.ini_options]
testpaths = [
    "tests",
]

[tool.coverage.run]
omit = [
    "lndb/*",
]
