[build-system]
requires = ["flit_core >=3.2,<4"]
build-backend = "flit_core.buildapi"

[project]
name = "lndb"
authors = [{name = "Lamin Labs", email = "laminlabs@gmail.com"}]
readme = "README.md"
dynamic = ["version", "description"]
dependencies = [
    # PINNED internal LAMIN dependency
    # !!! lnhub_rest cannot be pinned in LaminDB !!!
    # !!! LaminDB should not directly depend on lnhub_rest !!!
    "lnhub_rest==0.8.2",
    # NO other Lamin packages should be pinned or even be a dependency
    "laminci>=0.3.0",  # disentangle over time
    "lnschema_core>=0.28.0",
    "lamin_logger>=0.2.3",
    # External dependencies
    "pytest_alembic==0.9.1",  # let's pin this as we use internals
    "cloudpathlib",  # we can remove this once lnschema-core is released (2023-04-07)
    "sqlmodel>=0.0.8",
    "psycopg2-binary",
    "appdirs",
    "python-dotenv",
    "erdiagram",
    "alembic",
    "natsort",
    "pandas",
    "python-dateutil",
]

[project.urls]
Home = "https://github.com/laminlabs/lndb"

[project.optional-dependencies]
dev = [
    "pre-commit",
    "nox",
]
test = [
    "lamindb[bionty,wetlab]>=0.35.6",
    "pytest>=6.0",
    "pytest-cov",
    "nbproject-test>=0.4.3",
    "nbproject",
]

[project.scripts]
lndb = "lndb.__main__:main"

[tool.black]
preview = true

[tool.pytest.ini_options]
testpaths = [
    "tests",
]

[tool.coverage.run]
omit = [
    "lndb/*",
]
