[build-system]
requires = ["flit_core >=3.2,<4"]
build-backend = "flit_core.buildapi"

[project]
name = "lamindb_setup"
authors = [{name = "Lamin Labs", email = "laminlabs@gmail.com"}]
readme = "README.md"
dynamic = ["version", "description"]
dependencies = [
    # PINNED internal LAMIN dependency
    # !!! lnhub_rest cannot be pinned in LaminDB !!!
    # !!! LaminDB should not directly depend on lnhub_rest !!!
    "lnhub_rest==0.9.10",
    "sqlmodel",  # this here just for lnhub_rest
    # NO other Lamin packages should be pinned or even be a dependency
    "lnschema_core>=0.35a1",
    "lamin_logger>=0.3.3",
    # External dependencies
    "django",
    "dj_database_url",
    "pydantic[dotenv]",
    "ipython",
    "sqlalchemy",  # just temporarily
    "appdirs",
    "pandas",  # remove!!!
    "python-dateutil",
    "universal_pathlib"
]

[project.urls]
Home = "https://github.com/laminlabs/lamindb-setup"

[project.optional-dependencies]
aws = [
    "s3fs",
]
test = [
    "psycopg2-binary",
    "python-dotenv",
    "erdiagram",
    "pre-commit",
    "nox",
    "pytest>=6.0",
    "pytest-cov",
    "nbproject-test>=0.4.3",
]

[project.scripts]
lamin = "lamindb_setup.__main__:main"

[tool.black]
preview = true

[tool.pytest.ini_options]
testpaths = [
    "tests",
]

[tool.coverage.run]
omit = [
    "lamindb_setup/*",
]
