[build-system]
requires = ["flit_core >=3.2,<4"]
build-backend = "flit_core.buildapi"

[project]
name = "lndb_setup"
authors = [{name = "Lamin Labs", email = "laminlabs@gmail.com"}]
readme = "README.md"
dynamic = ["version", "description"]
dependencies = [
    "lnschema_core>=0.11.0",
    "lamin_logger",
    "boto3",
    "cloudpathlib",
    "sqlmodel>=0.0.7",
    "appdirs",
    "supabase",
    "python-dotenv",
    "erdiagram",
    "alembic",
    "psycopg2-binary"
]

[project.urls]
Home = "https://github.com/laminlabs/lndb-setup"

[project.optional-dependencies]
dev = [
    "pre-commit",
    "nox",
]
test = [
    "pytest>=6.0",
    "pytest-cov",
    "bionty>=0.2.4",
    "lnschema_bionty>=0.3.0",
    "lnschema_wetlab>=0.5.0",
    "lnbfx>=0.4.1",
    "cloudpathlib[gs]",
]

[project.scripts]
lndb = "lndb_setup.__main__:main"

[tool.black]
preview = true

[tool.pytest.ini_options]
testpaths = [
    "tests",
]

[tool.coverage.run]
omit = [
    "lndb_setup/*",
]
